body {
}

/*.row .col {
  padding: 0px!important;
}*/
    /*.row .col.l2 {
        width: 20%!important;
    }
    .row .col.m2 {
        width: 20%!important;
    }*/

.brand-logo img {
    width: 80px;
    height: 80px;
    padding: 10px;
}
.login-carrito {
    position: absolute;
    display: flex;
    left: 80vw;
    top: 1vw;
}
.login-nav {
    display: inline-block;
    color: rgba(0,0,0,.5);
    text-decoration: none;
    margin: auto 10px;
}
.login-nav a{
   text-decoration:none;
 }
    .login-nav:hover {
        color: #000000;
    }
.carrito {
    display: inline-block;
    color: rgba(0,0,0,.5);
}

.collection .collection-item.avatar .title{
    position: relative!important;
    bottom: 60px!important;
}
.collection .collection-item.avatar p{
    position: relative!important;
    margin-left: 105px!important;
    bottom: 50px!important;
}
.btn, .btn-large, .btn-small, .btn-flat {
    padding: 0 10px!important;
}
.card .card-action {
    padding: 16px 16px!important;
}

/*#lblCreado {
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 10px 22px;
    font-size: 16px;
    vertical-align: middle;
}

#lblError {
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 22px;
    font-size: 16px;
    vertical-align: middle;
}

#txtCaracteres {
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 22px;
    font-size: 14px;
    vertical-align: middle;
}*/

.waves-light input {
    color: #fff!important;
}



@media (max-width:990px) {
    button .navbar-toggler {
        position: absolute;
        left: 20vw;
    }
}