body {
}

.row .col {
  padding: 0px!important;
}
    /*.row .col.l2 {
        width: 20%!important;
    }
    .row .col.m2 {
        width: 20%!important;
    }*/

    .brand-logo img {
        width: 80px;
        height: 80px;
        padding: 10px;
    }
.login-carrito {
    position: absolute;
    display: flex;
    left: 80vw;
    top: 1vw;
}
.login-nav {
    display: inline-block;
    color: rgba(0,0,0,.5);
    text-decoration: none;
    margin: auto 10px;
}
.login-nav a{
   text-decoration:none;
 }
    .login-nav:hover {
        color: #000000;
    }
.carrito {
    display: inline-block;
    color: rgba(0,0,0,.5);
}

.collection .collection-item.avatar .title{
    position: relative!important;
    bottom: 60px!important;
}
.collection .collection-item.avatar p{
    position: relative!important;
    margin-left: 105px!important;
    bottom: 50px!important;
}
.btn, .btn-large, .btn-small, .btn-flat {
    padding: 0 10px!important;
}
.card .card-action {
    padding: 16px 16px!important;
}

@media (max-width:990px) {
    button .navbar-toggler {
        position: absolute;
        left: 20vw;
    }
}